*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  background-color: #252627;
  background: url('https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat;
  background-size: 1500px;
}
header{
  background-color: #353738;
  text-transform: uppercase;
}
header .nav-bar{
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-bar img{
  position: relative;
  width: 60px;
  height: 60px;
  padding: 2px;
  border-radius: 50px;
  box-shadow: 
    4px 2px 6px #ffffff0e,
    -1px -4px 6px rgba(32, 16, 16, 0.699);
}
header .nav-bar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-bar ul li{
  width: 100%;
  padding: 10px 0;
  margin-left: 20px;
  list-style: none;
  border-radius: 50px;
  box-shadow: 
    4px 2px 6px #ffffff0e,
    -1px -4px 6px rgba(32, 16, 16, 0.808);
}
header .nav-bar a{
  font-size: 14px;
  padding: 20px;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
}
header .nav-bar ul li:hover{
  border: 1px solid #252627;
  border-radius: 50px;
  background-color: rgba(30, 30, 31, 0.116);
}
header .nav-bar a:hover{
  color: rgba(245, 245, 245, 0.4);
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
}
main .container{
  /* border: 5px solid white; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
main .container .text{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 50px auto;
  /* border-radius: 70px;
  padding: 15px;
  box-shadow: 
    4px 6px 10px #ffffff0e,
    -4px -6px 10px rgba(32, 16, 16, 0.5);
  background-color: #323335; */
}
main .container .text h3{
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 4rem;
  text-shadow: 2px 2px 6px #ffffff31,
  -4px -4px 6px rgb(32, 16, 16);
}
main .container .text p{
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #ffffff31,
  -4px -4px 6px rgb(32, 16, 16);
}
main .group{
  margin: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
main .group .products{
  background-color: aliceblue;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  
}
main .group .products img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
main .group .products h4{
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 2rem;
  margin: 5px 10px;

}
main .group .products p{
  text-decoration: none;
  margin: 5px 10px;
}
main .group .products .bottom{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
main .group .products .bottom p{
  margin: 5px 0;
  font-weight: bold;
  font-size: 20px;
}
main .group .products .bottom button{
  border: none;
  cursor: pointer;
  background-color: #353738;
  color: aliceblue;
  border-radius: 18px;
  padding: 10px;
  box-shadow: 2px 2px 2px #5353535e,
    -2px -2px 2px rgba(32, 16, 16, 0.349);
}